.playerView__wrapper {
  display: flex;
  height: calc(100vh - 110px);
}

.playerView__conceptDisplay {
  width: 60%;
  padding: 10px;
}

.playerView__chatBox {
  width: 40%;
  border-right: 1px solid lightgray;
  padding: 10px;
  margin: 0;
}

.chatBox__feedback {
  height: 90%;
  display: flex;
  overflow: scroll;
  flex-direction: column;
  justify-content: flex-end;
}

.chatBox__input {
  height: 10%;
}

.playerView__concept {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.playerView__list {
  display: flex;
  flex-wrap: wrap;
}

.playerView__wait {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.playerView__waiticon {
  animation-name: bounce;
  animation-timing-function: ease;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-60px);
  }
  50% {
    transform: scale(1, 1) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

.chatBox__noFeedback {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
